body{
  background-color: black;
}

#root {
  max-width:ful;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nome{
  color: white;
  font-size: small;
  
}

.cargo{
  color: white;
  margin: 1px;
}

.icone{
width: 20px;
height: 20px;
margin: 2px;
}
